#stats{
    background-image: url('../../../assets/StockSnap_2XCM40KGL8.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    justify-content: center;    
    height: 23em;

    #statistic-block {
        height: 17em;;
        width: 50em;;
        text-align: center;
        background: rgba(255,255,255,0.5);
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-top: 3em;
        
        .bold{
          font-weight: bold;
        }
        
        h1{
          font-weight: lighter;
        }
    
        p{
          font-size: 1.4rem;
        }

        .statItem{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
        }

        .content{
            margin-left: 0.5em;
            margin-right: 0.5em;
            margin-top: 2em;
        }
      }
  
}