<footer>
  <div class="footerA">
    <h2 class="firstChildH2"> Contactez-<strong>nous !</strong></h2>
    <div class="a">
      <aside>
        <div class="content">
          <h2><strong>Aix</strong></h2>
          <p>8 rue de la poupée qui tousse <br> 13000 Aix-en-Provence </p>
          <p>+33 7 22 30 43 70</p>
        </div>
      </aside>
      <aside>
        <div class="content">
          <h2><strong>Toulouse</strong></h2>
          <p>23 chemin du petit chicot <br>31000 Toulouse </p>
          <p>+33 4 34 26 33 70</p>
        </div>
      </aside>
      <aside>
        <div class="content">
          <h2><strong>Rennes</strong></h2>
          <p>2 rue du professeur Pierre Velas <br>35200 Rennes</p>
          <p> +33 2 12 30 43 70</p>
        </div>
      </aside>
    </div>
  </div>
  <div class="footerB">
    <div class="socialMedia">
      <img src="assets/images/linkedin.svg">
      <img src="assets/images/twitter.svg">
      <img src="assets/images/facebook.svg">
      <img src="assets/images/instagram.svg">
    </div>
    <p class="pCopyright"> Teletech 3000 &copy; 2018 </p>
  </div>
</footer>