<footer>
  <div class="footerA">
    <h2> Contactez-<strong>nous !</strong></h2>
    <aside>
      <div class="content">
        <h2><strong>Aix</strong></h2>
        <p>8 rue de la poupée qui tousse 13000 Aix-en-Provence +33 7 22 30 43 70</p>
      </div>
    </aside>
    <aside>
      <div class="content">
        <h2><strong>Toulouse</strong></h2>
        <p>23 chemin du petit chicot 31000 Toulouse +33 4 34 26 33 70</p>
      </div>
    </aside>
    <aside>
      <div class="content">
        <h2><strong>Renne</strong></h2>
        <p>2 rue du professeur Pierre Velas 35200 Rennes +33 2 12 30 43 70</p>
      </div>
    </aside>
  </div>
  <div class="footerB">
    <img src="assets/images/linkedin.png">
    <img src="assets/images/twitter.png">
    <img src="assets/images/facebook.png">
    <img src="assets/images/instagram.png">
    <p> Teletech 3000 &copy; 2018 </p>
  </div>
</footer>