#top {
  background-image: url('../../../assets/stefan-stefancik-257625.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  justify-content: center;

  #activities-block {
    width: 50vw;
    text-align: center;
    background: rgba(255,255,255,0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10em;
    h1.title{
      font-weight: lighter;
      .bold{
        font-weight: bold;
      }
    }
  }

}
