#top {
  background-image: url('../../../assets/stefan-stefancik-257625.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  justify-content: center;
  height: 100vh;
   

  #activities-block {
    height: 50vh;
    width: 65vw;
    text-align: center;
    background: rgba(255,255,255,0.5);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10em;
    
    .bold{
      font-weight: bold;
    }
    
    h1{
      font-weight: lighter;
      font-size: 1.9rem;
      padding-top: 2em; 
    }

    p{
      font-size: 1.4rem;
    }
  }

}
