.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left:  20%;
  padding-right: 15%;
  padding-bottom: 2em;
  text-align: center
}
h2{
  font-weight:normal;
  text-align: center
}