.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2em;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}
h2{
  font-weight:normal;
  text-align: center
}